@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Non-defaults */
    --background: 0 0% 100%;
    --background-light: 0 0% 22%;

    --foreground: 0 0% 93%;
    --foreground-dark: 0 0% 82%;

    --icon-gray: 0 0% 58%;
    --icon-gray-light: 0 0% 89%;

    --placeholder: 0 0% 50%;

    --custom-white: 0 0% 87%;
    --custom-black: 0 0% 16%;

    --primary: 44 100% 50%;
    --primary-hover: 44 100% 62%;
    --primary-pressed: 44 100% 68%;
    --primary-disabled: 44 84% 79%;

    --positive: 120 33% 47%;
    --positive-hover: 120 33% 57%;
    --positive-pressed: 120 33% 67%;
    --positive-disabled: 120 53% 73%;

    --negative: 0 63% 57%;
    --negative-hover: 0 63% 62%;
    --negative-pressed: 0 63% 67%;
    --negative-disabled: 0 63% 57%;

    --border-gray: var(--icon-gray);
    --border-gray-dark: 0 0% 27%;

    /* --background: 0 0% 12%; */
    /* --foreground: 222.2 47.4% 11.2%; */
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    /* --primary: 222.2 47.4% 11.2%; */
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    /* Non-defaults */
    --background: 0 0% 16%;
    --background-light: 0 0% 22%;

    --foreground: 0 0% 12%;

    --icon-gray: 0 0% 58%;
    --icon-gray-light: 0 0% 89%;

    --placeholder: 0 0% 50%;

    --custom-white: 0 0% 87%;
    --custom-black: 0 0% 16%;

    --primary: 44 100% 50%;
    --primary-hover: 44 100% 62%;
    --primary-pressed: 44 100% 68%;
    --primary-disabled: 44 84% 79%;

    --positive: 120 33% 47%;
    --positive-hover: 120 33% 57%;
    --positive-pressed: 120 33% 67%;
    --positive-disabled: 120 53% 73%;

    --negative: 0 63% 57%;
    --negative-hover: 0 63% 62%;
    --negative-pressed: 0 63% 67%;
    --negative-disabled: 0 63% 57%;

    --border-gray: var(var(--icon-gray));
    --border-gray-dark: 0 0% 27%;

    /* --background: 224 71% 4%;
    --foreground: 213 31% 91%; */

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    /* --primary: 210 40% 98%; */
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  ::-webkit-scrollbar-thumb {
    background: hsl(var(--foreground-dark));
    border: 3px solid rgba(255, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 10px;
  }

  body {
    @apply dark:bg-background text-cblack dark:text-cwhite;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;

    font-family: 'Public Sans';
  }
}
